* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dddddd;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}

.container .card {
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: #dddddd;
    border-radius: 20px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0, 0, 0, 0.1);
}
.container .card:hover {
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, 0.5),
                inset 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.container .card .img {
    position: relative;
    text-align: center;
}

.container .card .img img {
    max-width: 128px;
}

.container .card .content {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.container .card .content h2 {
    color: #6b5b95;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.container .card .content p {
    color: #6b5b95;
}

.container .card .content a {
    color: #6b5b95;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                4px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .card .content a:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
                inset 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.container .card .content a:hover span {
    display: block;
    transform: scale(0.98);
}

.container .card:hover .img,
.container .card:hover .content {
    transform: scale(0.98);
}